/**********************/

/*Basic Custom Styling*/

/**********************/

h4, h5, h6, p, form, select, button {
    font-family: 'Sawarabi Mincho', sans-serif;
}

body {
    margin: 0 auto;
    /*    background-color: #26a69a;*/
    background: url(../images/split1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    /*    height: 500px;*/
    /*    background-position: center;*/
    position: relative;
    /*    overflow: hidden;*/
    background-color: rgb(136, 180, 194);
}


/*
body:before {
    content: '';
    position: absolute;
    left: 20%;
    width: 100%; 
    height: 200%; 
    background-color: rgb(255, 255, 255); 
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    
        margin: 0 auto;
    background: url(../images/empty-movie-theater.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1064.1px;
    
    background-position: center;
    position: relative;
}
*/

/*
#secondBackground {
    margin: 0 auto;
    background: url(../images/empty-movie-theater.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1064.1px;
    background-position: center;
    position: relative;
    
}
*/

h1 {
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    filter: drop-shadow(1px 5px 10px #000000ab);
    padding-top: 75px;
    font-size: 6.2em;
    -webkit-transition: padding-top, font-size .5s;
    -moz-transition: padding-top, font-size .5s;
    -o-transition: padding-top, font-size .5s;
    transition: padding-top, font-size .5s;
}

@media only screen and (max-width: 1705px) {
    h1 {
        font-family: 'Work Sans', sans-serif;
        color: #fff;
        filter: drop-shadow(1px 5px 10px #000000ab);
        padding-top: 125px;
        font-size: 4.2em;

        /*
    background: black;
    padding-bottom: 5px;
*/
    }
}

h2 {font-family: 'Work Sans', sans-serif;}

h3,
h4,
h5,
h6,
p,
button,
input,
optgroup,
select,
textarea {
    font-family: 'Work Sans', sans-serif;
}

a {}

img {
    width: 300px;
    margin: 0 auto;
}

hr {
        border-bottom: 1px solid #9e9e9e;
    margin-top: 20px;
}

form {}

input {}

select {
    margin: 5px;
}


/*************************/

/*Advanced Custom Styling*/

/*************************/

#null {
    display: none;
}

#container {
    height: 100px;
    width: 100px;
    overflow: hidden;
    background-image: url(http://www.webdesign.org/img_articles/14881/site-background-pattern-07.jpg);
}

div#header {
    padding-top: 60px;
    /*
    position: absolute;
    top: 60px;
    left: 30%;
    right: 30%;
*/
}

span#head1 {
    animation-delay: 1s;
}

span#head2 {
    /*    position: relative;*/
    /*
    bottom: 8px;
    right: 30px;
*/
    /*
    bottom: 6px;
    right: 26px;
*/
    /*
    bottom: 5px;
    right: 29px;
*/
    /*
    right: 35px;
*/
    animation-delay: 2s;
}

span#head3 {}

.bounceInDown {
    animation-delay: 3s;
}

/*
.zoom {
     padding-bottom: 50px; 
     background-color: green; 
    transition: transform .2s;
    width: 300px;
     height: 300px; 
    margin: 0 auto;
    opacity: 0.85;
}

.zoom:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05); 
    opacity: 0.85;
}
*/

div#results {
    background-image: url(../images/qbkls.png);
    filter: drop-shadow(1px 5px 10px #000000ab);
}

form#ingredient {
    position: relative;
    top: 5px;
}

#recipeH5 {
    margin-left: 10px;
}

#keyword {
    margin-bottom: 0px;
}

#resultsRow {
    /* width: 400px; */
    margin: 0 auto;
    margin-top: 15px;
    background-color: transparent;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
    opacity: 0.85;
    border-radius: 5px;
    margin-bottom: 25px;
}

#movieParaCol,
#foodParaCol {
    background-image: url(../images/qbkls.png);
    filter: drop-shadow(1px 5px 10px #000000ab);
    padding: 15px;
}

#movieResultCol, #foodResultCol {
    
}

#recipeResults, #movieResult {
    background-color: skyblue;
    filter: drop-shadow(1px 5px 10px #000000ab);
    padding: 15px;
}

#triangle-topleft {
    width: 0;
    height: 0;
    border-top: 100px solid gray;
    border-right: 100px solid transparent;
}


.polling_message {
    color: white;
    margin-right: 2%;  
    padding: 15px;          
  }
  
  .view_port {
/*    background-color: black;*/
    height: 60px;
    width: 100%;
    overflow: hidden;
    position: relative;
    bottom: 300px;
    right: 348px;
    transform: rotate(-83deg);
    z-index: -1;
}
  }
  
  .cylon_eye {
    background-color: #01bcd4;
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, .9) 25%,
        rgba(0, 0, 0, .1) 50%,
        rgba(0, 0, 0, .9) 75%);
    color: white;
    height: 100%;
    width: 200%;
  
    -webkit-animation: 4s linear 0s infinite alternate move_eye;
            animation: 4s linear 0s infinite alternate move_eye;
  }
  
    @-webkit-keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }
    @keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }

/****************************/

/*Materialize Custom Styling*/

/****************************/

.btn-floating.btn-large {
    /*    margin-left: 45%;*/
    /*    margin-right: 50%;*/
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 300px;
    right: 78px;
    /*    margin-left: 50%;*/
}

.btn-floating.btn-large i {
    line-height: 100px;
    filter: drop-shadow(1px 2px 1px #000000ab);
}

.btn-large i {
    font-size: 4rem;
}

@media only screen and (max-width: 600px) {
.row .col.s1 {

    position: relative;
    bottom: 375px;
    right: -230px;
}
}
